<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
    <link href="css/default.css" type="text/css" rel="stylesheet">
    <script src="js/jquery.js"></script>
</head>
<body>

    <div>
        <a href="./index.html"><h1>Back To Home</h1></a>
    </div>
    <div class="xttblog">
        <ul class="box">
            <h1>每一次的相遇总让人发现惊喜，每一次的约会总时让人怦然心动，有你这世界上才是幸福的！</h1>
            <img src="./photo/1.jpg" alt="fist jpg"/>
            <h1>忆昔记得以前的冬天都是万物凋零，毫无生机的，但你的出现，让冬天更加丰富多才，人生也多了更多的幻类！</h1>
            <img src="./photo/WechatIMG561535178456_.pic.jpg" alt="fist jpg2"/>
            <h1>一起走过的路，一起相拥的瞬间，点点滴滴，甜甜蜜蜜，只因有你相伴，永远！</h1>
            <img src="./photo/WechatIMG571535178456_.pic.jpg" alt="fist jpg3"/>
            <H1>霸气的你，乖乖认错的你，温柔贤惠的你，都是我的，哈哈</H1>
            <img src="./photo/WechatIMG591535178456_.pic.jpg" alt="fist jpg4"/>
            <!--<H1>DD</H1>-->
            <img src="./photo/WechatIMG601535178456_.pic.jpg" alt="fist jpg5"/>
            <h1></h1>
            <img src="./photo/5.jpg" alt="fist jpg6"/>
            <img src="./photo/WechatIMG611535178456_.pic.jpg" alt="fist jpg7"/>
            <img src="./photo/WechatIMG621535178457_.pic.jpg" alt="fist jpg8"/>
            <img src="./photo/WechatIMG63.jpeg" alt="fist jpg9"/>
        </ul>
    </div>


    
</body>
</html>